
.cart-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.cart-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cart-box {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* TABLE */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.cart-table thead {
    background: #0d1b2a;
    color: #fff;
}

.cart-table th,
.cart-table td {
    padding: 15px;
    text-align: center;
}

.cart-table tr:nth-child(even) {
    background: #f2f2f2;
}

.product-name {
    font-weight: 900;
}

/* QUANTITY */
.qty {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 19px;
    background: #14828c;
    color: #000000;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s all ease-in;
}

.qty-btn:hover {
    background: #14828c;
    color: white;
}

/* REMOVE */
.remove-btn {
    color: #e63946;
    text-decoration: none;
    font-weight: 500;
}

.remove-btn:hover {
    text-decoration: underline;
}

/* SUMMARY */
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #eee;
    padding-top: 20px;
}

.total-price {
    font-size: 22px;
    font-weight: bold;
    color: #0d1b2a;
}

.checkout-btn {
    padding: 12px 25px;
    background: #d5d5d5;
    color: #272727;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s all ease-in;
}

.checkout-btn:hover {
    background: #262626;
    color: white;
}

.empty-cart {
    text-align: center;
    font-size: 18px;
    color: #555;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cart-table thead {
        display: none;
    }

    .cart-table, 
    .cart-table tbody, 
    .cart-table tr, 
    .cart-table td {
        display: block;
        width: 100%;
    }

    .cart-table tr {
        margin-bottom: 20px;
    }

    .cart-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .cart-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        font-weight: bold;
    }

    .cart-summary {
        flex-direction: column;
        gap: 15px;
    }
}
