* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #f4f6f9;
}

/* MAIN CONTAINER */
.checkout-container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.checkout-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* STACK LAYOUT */
.checkout-box {
    display: flex;
    
    gap: 10px;
    align-items:start;
    max-width: 1250px; 
    margin: 0 auto; 
}

/* BILLING FORM */
.checkout-form {
    background: #fff;
    width: 600px;
    min-height: 300px;
    height: 400px;
    overflow-y: auto;
    align-content: start;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.checkout-form h3 {
    margin-bottom: 15px;
}

.checkout-form form {
    gap: 14px;
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

/* Address textarea */
.form-group textarea {
    resize: none;
    height: 90px;
}

/* City + Pincode row */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-row .form-group {
    flex: 1;
}

/* ORDER SUMMARY */
.order-summary {
    width: 400px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.order-summary h3 {
    margin-bottom: 20px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
}

.summary-item.total {
    font-size: 18px;
    font-weight: bold;
    border-top: 2px solid #eee;
    padding-top: 15px;
}

/* PLACE ORDER BUTTON */
.place-order-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #1fae0c;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.place-order-btn:hover {
    background: #178009;
}

/* MOBILE SAFETY */
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
}
