
          /* Section1 */
          .image-box {
            position: relative;
            width: 100%;           
            height: 600px;          
            overflow: hidden;       
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .image-box img{
            display: block;
            height: 70%;
            width: 90%;
            object-fit: cover;
            filter: blur(0.2px);
            opacity: 1;
            transition: opacity 0.8s ease-in-out;
          }

          .image-text { 
            position: absolute;
            top: 260px;               
            left: 50%;
            transform: translateX(-50%);
            color: white;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
            z-index: 2;
          }
          
          .image-text p{
            font-size: 3rem;
            font-family: "Playfair Display", serif;
          }

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0d1b2a;
    padding: 15px 30px;
}

.logo {
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.search-box input {
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.search-box button {
    padding: 6px 10px;
    border: none;
    background: #1b9aaa;
    color: #fff;
    cursor: pointer;
}

/* PRODUCTS */
.products-section {
    padding: 40px;
}

.products-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product-card {
    background: #fff;
    border-radius: 12px;
    border: 1px solid rgb(108, 108, 108);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.img-box {
    height: 200px;
    background: #eee;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 15px;
}

.content h3 {
    margin: 0;
}

.desc {
    color: #555;
    font-size: 14px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.btn {
    /* display: block; */
    text-align: center;
    padding: 10px;
    background: #08791b;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s all ease-in;
}

.btn:hover {
    background: #333333;
    color: white;
}

.no-data {
    text-align: center;
    grid-column: 1/-1;
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
